@import './../../constants/fonts.scss';
@import './../../constants/colors.scss';

.title {
  margin: 0;
  font-family: $mobile-h2-font-family;
  font-size: 18px;
  font-weight: $mobile-h2-font-weight;
  color: $mobile-h2-color;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    font-family: $desktop-h2-font-family;
    font-size: $desktop-h2-font-size;
    font-weight: $desktop-h2-font-weight;
    color: $desktop-h2-color;
  }
}
