@import './../../constants/fonts.scss';

.genericSection { 
    padding: 48px 0px 0px 20px;

    @media (min-width: 1440px) {
        padding: 80px 128px;
    }

    & .optionalText {
        display: flex;
        gap: 12px;
        margin-top: 18px;
        align-items: center;

        @media (min-width: 1440px) {
            justify-content: flex-end;
            margin-top: 40px;

        }
    }

    & .additionalText {
        font-family: $mobile-body-font-family;
        font-size: $mobile-body-font-size;
        font-weight: 400;
        letter-spacing: 2px;
        @media (min-width: 1440px) {
            font-family: $desktop-body-font-family;
            font-size: $desktop-body-font-size;
        }
    }
}