@import './../../constants/colors.scss';
@import './../../constants/fonts.scss';

.aboutUs {
    background-color: $secondary-light-gray ;
    display: flex;
    flex-direction: column-reverse;
    padding: 24px 27px 48px 20px; 
    justify-content: flex-start;
    
    @media (min-width: 1440px) {
        flex-direction: row;
        padding: 40px 129px 40px 132px;
        align-items:  center;
    }

}

.description {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1440px) {
        flex-direction: column;
        width: 918px;
    }

    & h1 {
            margin: 0 0 16px 0;
            font-family: $mobile-h2-font-family;
            font-weight: $mobile-h2-font-weight;
            font-size: 18px;
            color: $mobile-h2-color;
            letter-spacing: 1.25px;
            text-align: left;
            text-transform: uppercase;
          
            @media (min-width: 1440px) {
            margin: 0 0 8px 0;
              font-family: $desktop-h2-font-family;
              font-size: $desktop-h2-font-size;
              font-weight: $desktop-h2-font-weight;
              color: $desktop-h2-color;
            }
        }
    
    & p {
        font-family: $mobile-body-font-family;
        font-weight: $mobile-body-font-weight;
        font-size: 18px;
        letter-spacing: 2.14px;
        line-height: 30px;

        @media (min-width: 1440px) {
        font-family: $desktop-body-font-family;
        font-weight: $desktop-body-font-weight;
        font-size: 20px;
        width: 569px;
        }
    }
}

.downloadsDesktop {
    margin-bottom: 48px;

    @media (min-width: 1440px) {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 16px;
    }

    & img {
        width: 180px;
        height: 52px;
    }
}

.logoDesktop {
    margin-bottom: 32px;
    
    @media (min-width: 1440px) {
        display: flex;
    
    }
    & img {
        width: 102px;
        height: 95px;
        
        @media (min-width: 1440px) {
            width: 178px;
            height: 166px;
            padding-left: 83px;
        }
    }

}
