@import './colors.scss';

// Desktop Fonts
$desktop-h1-font-family: 'Helvetica Neue';
$desktop-h1-font-weight: 200;
$desktop-h1-font-size: 32px;
$desktop-h1-color: $primary-black;

$desktop-h2-font-family: 'Helvetica Neue';
$desktop-h2-font-weight: 200;
$desktop-h2-font-size: 30px;
$desktop-h2-color: $primary-black;

$desktop-h3-font-family: 'Helvetica Neue';
$desktop-h3-font-weight: 'Regular';
$desktop-h3-font-size: 40px;
$desktop-h3-color: $primary-black;

$desktop-body-font-family: 'Helvetica Neue';
$desktop-body-font-weight: 200;
$desktop-body-font-size: 24px;
$desktop-body-color: $primary-black;

$desktop-button-font-family: 'Helvetica Neue';
$desktop-button-font-weight: 200;
$desktop-button-font-size: 16px;
$desktop-button-color: #FFFFFF;
$desktop-button-background-color: $primary-black;

$desktop-input-font-family: 'Helvetica Neue';
$desktop-input-font-weight: 200;
$desktop-input-font-size: 16px;
$desktop-input-color: $primary-black;

$desktop-label-font-family: 'Helvetica Neue';
$desktop-label-font-weight: 200;
$desktop-label-font-size: 16px;
$desktop-label-color: #979797;

// Mobile Fonts
$mobile-h1-font-family: 'Helvetica Neue';
$mobile-h1-font-weight: 200;
$mobile-h1-font-size: 24px;
$mobile-h1-color: $primary-black;

$mobile-h2-font-family: 'Helvetica Neue';
$mobile-h2-font-weight: 200;
$mobile-h2-font-size: 16px;
$mobile-h2-color: $primary-black;

$mobile-h3-font-family: 'Helvetica Neue';
$mobile-h3-font-weight: 400;
$mobile-h3-font-size: 18px;
$mobile-h3-color: $primary-black;

$mobile-body-font-family: 'Helvetica Neue';
$mobile-body-font-weight: 200;
$mobile-body-font-size: 16px;
$mobile-body-color: $primary-black;

$mobile-button-font-family: 'Helvetica Neue';
$mobile-button-font-weight: 200;
$mobile-button-font-size: 16px;
$mobile-button-color: #FFFFFF;
$mobile-button-background-color: $primary-black;

$mobile-input-font-family: 'Helvetica Neue';
$mobile-input-font-weight: 200;
$mobile-input-font-size: 16px;
$mobile-input-color: $primary-black;

$mobile-label-font-family: 'Helvetica Neue';
$mobile-label-font-weight: 200;
$mobile-label-font-size: 14px;
$mobile-label-color: #979797;
