@import './colors.scss';

$primary-font : 'Helvetica Neue';

@mixin section-title {
    @include mobile-h2;
    font-size: 18px;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
  
    @media (min-width: 1440px) {
      @include desktop-h2
    }
}

@mixin desktop-h1 {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 32px;
    color: $primary-black;
}

@mixin desktop-h2 {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 30px;
    color: $primary-black;
}

@mixin desktop-h3 {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 40px;
    color: $primary-black;
}

@mixin desktop-body {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 24px;
    color: $primary-black;
}


@mixin desktop-input {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
}

@mixin desktop-label {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: #979797;
}

// Mobile Mixins
@mixin mobile-h1 {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 24px;
    color: $primary-black;
}

@mixin mobile-h2 {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
}

@mixin mobile-h3 {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 18px;
    color: $primary-black;
}

@mixin mobile-body {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
}


@mixin mobile-input {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
}

@mixin mobile-label {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 14px;
    color: $primary-grey;
}
