@import '../colors/colors.scss';

$primary-font : 'Helvetica Neue';


@mixin desktop-h1 {
    font-family: $primary-font;
    font-weight: 204000;
    font-size: 40px;
    color: $primary-black;
}

@mixin desktop-h2 {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 30px;
    color: $primary-black;
}

@mixin desktop-h3 {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 40px;
    color: $primary-black;
}

@mixin desktop-body {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 24px;
    color: $primary-black;
}


@mixin desktop-input {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
}

@mixin desktop-label {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: #979797;
}

// Mobile Mixins
@mixin mobile-h1 {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 18px;
    color: $primary-black;
}

@mixin mobile-h2 {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 18px;
    color: $primary-black;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
}

@mixin mobile-h3 {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 18px;
    color: $primary-black;
}

@mixin mobile-body {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
    letter-spacing: 1.97px;
}


@mixin mobile-input {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
}

@mixin mobile-label {
    font-family: $primary-font;
    font-weight: 200;
    font-size: 14px;
    color: $primary-grey;
}

@mixin desktop-mobile-links {
    text-decoration: none;
    font-family: $primary-font;
    font-weight: 200;
    font-size:18px;
    letter-spacing: 1.92px;
    color: $primary-black;
}
