.swiperContainer {
    margin-top: 17px;
    @media (min-width: 1440px) {
        // margin: 0px 127.5px 0px 127.5px;
        margin-top: 40px;
    }

    & .swiperSlide {
        display: flex;
        align-items: center;

        @media (min-width: 1440px) {
            justify-content: center;

            

        }
    }
    

}


